<!DOCTYPE html>
<!-- Thymeleaf 선언 / fragment 으로 이름을 LoginFragment 임을 선언 -->
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="LoginFragment">
    <div style="border: solid 1px black"><br>
        <div align="center">
            <form action="/login/" method="post">
                <table border="1">
                    <tr align="center" bgcolor="#a9a9a9">
                        <td>로그인</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="loginID" name="loginID" placeholder="아이디"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" id="loginPassword" name="loginPassword" placeholder="비밀번호">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center" bgcolor="#a9a9a9">
                            <button type="submit">로그인</button> &nbsp; &nbsp;
                            <a th:href="@{/member}"><button type="button">회원가입</button></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div><br>
    </div>
</html>