<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
    <head>
        <meta charset="UTF-8">

        <style th:inline="css" type="text/css">
            body {
                margin: 30px;
                border: 1px solid red;
            }
        </style>
    </head>

    <body>
        <div th:if="${error}">
            <b>[<span th:text="${error}"/>]</b>
        </div>

        <div align="center">
            <div th:if="${forumPageList}">
                <table>
                    <thead>
                    <tr>
                        <td>[ID]</td>
                        <td>[카테고리]</td>
                        <td>[제목]</td>
                        <td>[작성자]</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="forumPage:${forumPageList}">
                        <td><span th:text="${forumPage.id}"/></td>
                        <td><span th:text="${forumPage.category}"/></td>
                        <td><a href=""><span th:text="${forumPage.title}"/></a></td>
                        <td><span th:text="${forumPage.author}"/></td>
                    </tr>
                    </tbody>
                </table>
            </div><br><br>

            <div align="center">
                <form th:action th:object="${id}" method="post">
                    <select name="Option" id="searchOption">
                        <option value="title">제목</option>
                        <option value="author">작성자</option>
                    </select>
                    <input type="text" id="Search" name="Search" placeholder="검색어를 입력해주세요"/>
                    <button>검색</button>
                </form>
            </div>
        </div>
    </body>
</html>