<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
    <head>
        <meta charset="UTF-8">

        <style th:inline="css" type="text/css">
            body {
                margin: 30px;
                border: 1px solid red;
            }
        </style>
    </head>

    <body>
        <div th:if="${error}">
            <b>[<span th:text="${error}"></span>]</b><br><br>
        </div><br><br>

        <div th:if="${forumPageList}">
            <table>
                <thead>
                    <tr>
                        <td>[ID]</td> &nbsp; &nbsp;
                        <td>[카테고리]</td> &nbsp; &nbsp;
                        <td>[제목]</td> &nbsp; &nbsp;
                        <td>[작성자]</td> &nbsp; &nbsp;
                        <td>[수정]</td> &nbsp; &nbsp;
                        <td>[삭제]</td>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="forumPage : ${forumPageList}">
                        <td><span th:text="${forumPage.id}"/></td> &nbsp; &nbsp;
                        <td><span th:text="${forumPage.category}"/></td> &nbsp; &nbsp;
                        <td><a th:href="@{page/read(id=${forumPage.id})}"><span th:text="${forumPage.title}"/></a></td> &nbsp; &nbsp;
                        <td><span th:text="${forumPage.author}"/></td> &nbsp; &nbsp;
                        <td><a th:href="@{page/update(id=${forumPage.id})}"><button type="button">수정</button></a></td> &nbsp; &nbsp;
                        <td><a th:href="@{page/delete(id=${forumPage.id})}"><button type="button">삭제</button></a></td>
                    </tr>
                </tbody> &nbsp; &nbsp;
            </table>
        </div><br><br>

        <div align="center">
            <form action="/forum/page/select" method="get">
                <select name="mode" id="mode">
                    <option value="title">제목</option>
                    <option value="author">작성자</option>
                </select>
                <input type="text" name="contents" placeholder="검색어를 입력해주세요" th:value="*{contents}"/>
                <button type="submit">검색</button>
            </form>
        </div> &nbsp; &nbsp;

        <a th:href="@{page/write}"><button type="button">글 쓰기</button></a>
    </body>
</html>